<!doctype html>
<html>
  <body>
    <h2>Add Movie</h2>
    <form action="/add-movie" method="POST">
      <div>
        <label>Movie ID</label>
        <input type="text" name="movie_id" />
      </div>
      <div>
        <label>Title</label>
        <input type="text" name="title" />
      </div>
      <div>
        <label>Director</label>
        <input type="text" name="director" />
      </div>
      <div>
        <label>Language</label>
        <input type="text" name="language" />
      </div>
      <div>
        <label>Genre</label>
        <input type="text" name="genre" />
      </div>
      <div>
        <label>Rating</label>
        <input type="number" name="rating" />
      </div>
      <div>
        <label>Year</label>
        <input type="number" name="year" />
      </div>
      <div>
        <button type="submit">Add Movie</button>
      </div>
    </form>
  </body>
</html>