<!doctype html>
<html>
  <head>
    <title>Movie Finder</title>
  </head>
  <body>
    <h1>Movie Finder</h1>
    <p>Welcome to Movie Finder</p>
    <a href="/movies">View All Movies</a>
    <br /><br />
    <a href="/add-movie">Add Movie</a>
    <br /><br />
    <a href="/search">search movie</a>
    <br /><br />
    <a href="/director-search">Search Director</a>
    <br /><br />
    <a href="/rating-search">Search Rating</a>
    <br /><br />
    <a href="language-search">Search By Language</a>
    <br /><br />
  </body>
</html>