{% extends "base.html" %}


    {% block title %}
       Home
    {% endblock %}


{% block navmenu %}
   <a href="/login">Login</a>
   <a href="/register">Register</a>
{% endblock %}

{% block content %}
   <div>
       <h2>SNS Application</h2>
       <p>
        This application can manage the students Notes and Files
       </p>
       <div>
        <button><a href="/login">Login</a></button>
       <button><a href="/register">Register</a></button>
       
       </div>
   </div>

{% endblock %}
       


