{% extends "base.html" %}

    {% block title %}
        Login
    {% endblock %}

{% block navmenu %}
    <a href="/login">Login</a>
   <a href="/register">Register</a>
   
{% endblock %}

{% block content %}
    <div>
        <h2>Login</h2>
        <p>login to account to manage your notes and files</p>

        <div>
            <form action="/login" method='POST'>
                
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
                <p>
                    Don't have account? <a href="/register">Register</a> 
                    <p>Don't have password?<a href="/forgot_password">Forgot Password</a></p>                                           <
                </p>
            </form>
        </div>
    </div>
{% endblock %}
