{% extends "base.html" %}
<title>
    {% block title %}
        Register
    {% endblock %}
</title>

<body>
{% block navmenu %}
    <a href="/login">Login</a>
   <a href="/register">Register</a>
{% endblock %}

{% block content %}
    <div>
        <h2>Register</h2>
        <p>create account to manage your notes and files</p>

        <div>
            <form action="/register"method="POST">
                <div>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="">
                </div>
                <div>
                    <label for="confirm_password">Confirm password</label>
                    <input type="password" name="confirm_password" id="">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
                <p>
                    Don't know password <a href="#">Forget password</a>                                            <
                </p>
            </form>
        </div>
    </div>
{% endblock %}
</body>