{% extends "base.html" %}

    {% block title %}
        reset_password
    {% endblock %}

{% block navmenu %}
    <a href="/login">Login</a>
   <a href="/register">Register</a>
{% endblock %}

{% block content %}
    <div>
        <h2>reset_password</h2>
        <p>reset to account password to manage your notes and files</p>

        <div>
            <form action="#" method='POST'>
                
                <div>
                    <label for="new_password">New Password</label>
                    <input type="password" name="new_password" id="">
                </div>
                <div>
                    <label for="confirm_password">Confirm_Password</label>
                    <input type="password" name="confirm_password" id="">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
               
            </form>
        </div>
    </div>
{% endblock %}
