{% extends "base.html" %}

    {% block title %}
        Verify OTP
    {% endblock %}



{% block navmenu %}
    <a href="/login">Login</a>
   <a href="/register">Register</a>
{% endblock %}

{% block content %}
    <div>
        <h2>Verify OTP</h2>
        <p>Verify your account to manage your notes and files</p>

        <div>
            <form action="/verify-otp"method='POST'>
                
                <div>
                    <label for="otp">OTP</label>
                    <input type="number" name="otp" id="">
                </div>
                
                <div>
                    <button type="submit">Submit</button>
                </div>
               
            </form>
        </div>
    </div>
{% endblock %}